<div *ngIf="currentTournament" class="edit-form">
  <h4>Tournament : <span>{{currentTournament.title}}</span></h4>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 g-text-center--xs">
      
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 g-text-center--xs">
      <button type="button" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-50--xs">Play Tournament</button>
    </div>
  </div>

  <div class="g-hor-divider__dashed--sky-light"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h6>Admin Control Panel <span class="pull-right"><i class="ti-panel"></i></span></h6>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button
          class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block"
          *ngIf="currentTournament.published"
          (click)="updatePublished(false)"
          >
          <i class="ti-close"></i> UnPublish
        </button>

        <button
        *ngIf="!currentTournament.published"
        class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block"
        (click)="updatePublished(true)"
        >
        <i class="ti-check-box"></i> Publish
      </button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <button 
      class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block" 
      (click)="editTournament()">
     <i class="ti-pencil-alt"></i> Edit
    </button>

    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <button 
      class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block" 
      (click)="deleteTournament()">
      <i class="ti-na"></i> Delete
    </button>
  </div>
</div>

</div>
</div>







<!-- <button type="submit" class="badge badge-success" (click)="updateTutorial()">
  Update
</button>
<p>{{ message }}</p> -->
</div>

<div *ngIf="!currentTournament">
  <br />
  <p>Cannot access this Tutorial...</p>
</div>
