<!--========== HEADER V2 ==========-->
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
  <nav class="navbar navbar-default g-bg-color--dark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/img/pleace-golf-logo.png" class="img-fluid" style="width: 150px;" ></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="dashboard" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results & Rankings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="courses" class="nav-link">Golf Courses</a></li>
            <li><a routerLink="tournaments" class="nav-link"><i class="g-color--primary g-margin-r-10--xs ti-cup"></i> Tournaments</a></li>
            <li><a routerLink="rankings" class="nav-link">Rankings</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="profile-user-small-img img-fluid img-circle"
              src="assets/img/user.png"
              alt="User profile picture">
            Lawrence Gumbo 
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="play"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Play</a></li>
            <li><a routerLink="courses"><i class="g-color--primary g-margin-r-10--xs ti-flag-alt"></i> Golf Courses</a></li>
            <li><a routerLink="invite"><i class="g-color--primary g-margin-r-10--xs ti-share"></i> Invite Friend</a></li>
            <li><a routerLink="help"><i class="g-color--primary g-margin-r-10--xs ti-help-alt"></i> Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="settings"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Settings</a></li>
            <li><a routerLink="sign-in"><i class="g-color--primary g-margin-r-10--xs ti-close"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<!--========== END HEADER V2 ==========-->

<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/slide.png) 50% 0 no-repeat fixed;">
  <div class="g-container--md g-text-center--xs g-padding-y-100--xs">
    <div class="">
      <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">{{ Title }}</p>
      <h1 class="g-font-size-20--xs g-font-size-30--sm g-font-size-30--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">Welcome</h1>
    </div>
  </div>
</div>
<!--========== END PROMO BLOCK ==========-->







<router-outlet></router-outlet>



<!--========== FOOTER ==========-->
<footer class="g-bg-color--dark">
  <!-- Copyright -->
  <div class="container g-padding-y-50--xs">
    <div class="row">
      <div class="col-xs-6">
        <a href="index.html">
          <img class="g-width-100--xs g-height-auto--xs" src="assets/img/pleace-golf-logo.png" alt="Pleace Golf Logo">
        </a>
      </div>
      <div class="col-xs-6 g-text-right--xs">
        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="https://pleacegolf.world/">Pleace Golf</a> A <a href="http://www.themilkagency.co.za/">Milk Agency </a>Joint</p>
        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">
          <a routerLink="terms" class="nav-link">Terms And Conditions</a> | 
          <a routerLink="privacy" class="nav-link">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->
<!-- Back To Top -->
<a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>
